/* button */
<button type="submit" name="add" {% unless current_variant.available %} aria-disabled="true"{% endunless %} aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}" class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" data-add-to-cart>
	<span data-add-to-cart-text>
		{% unless current_variant.available %}
			{{ 'products.product.sold_out' | t }}
		{% else %}
                      	{{ 'products.product.add_to_cart' | t }}
                {% endunless %}
	</span>
	<span class="hide" data-loader>
		{% render 'icon-spinner' %}
	</span>
</button>

<a href="" class="btn atc-custom">ADD TO CART</a>
</button>

/* option selector */

<option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %} id="{% for variant in product.variants %}{% if variant.title ==  value %}{{ variant.id }}{% endif %}{% endfor %}">{{ value }}</option>
